@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #7C3AED;
    --color-primary-light: #E9D5FF;

    --color-accent-1: #60A5FA;
    --color-accent-2: #FDBA74;
    --color-accent-3: #34D399;

    --color-text-main: #1F2937;
    --color-text-muted: #6B7280;

    --color-bg: #F9FAFB;
    --color-card: #FFFFFF;
    --color-border: #E5E7EB;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
}

.card {
    @apply bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition flex flex-col sm:flex-row justify-between sm:items-center;
}

.form-field {
    @apply mb-4;
}

.form-label {
    @apply block font-medium text-[var(--color-text-main)] mb-1;
}

.form-label-required::after {
    content: ' *';
    color: red;
}

.form-input {
    @apply rounded-xl px-4 py-2 text-base bg-white text-[var(--color-text-main)];
}

.primary-button {
    @apply px-4 py-2 rounded-md text-white bg-[--color-primary] font-semibold;
}
